.navbar a {
  text-transform: capitalize;
}
.nav_bg {
  padding-left: 0;
  padding-right: 0;
}
.bg-light {
  background-color: #87c7f1 !important;
  border-radius: 10px;
}
.row-nav {
  background-color: #87c7f1 !important;
}

.navbar-brand {
  font-weight: bold;
  font-size: medium;
}
.navbar-nav {
  border-bottom: 2px solid black;
  border-radius: 5px;
}

.nav-link {
  font-size: 0.7rem;
  font-weight: bold;
}

.navbar a:hover {
  color: white !important;
}


